.App {
  text-align: center;
}
#home{
  background-color: rgb(237, 255, 33);
}
.login{
  display:flex;
  gap:1rem;
  margin-left:30px;
  font-size: larger;
}
Button{
  padding:20px;
}
.homePage{
  text-align: center;
}
.ref{
  text-align: start;
}
.card-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card{
  margin-bottom: 10px;
}
.form{
  padding: 20px;
}
